@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #18181b;

  --ship-cove-50: #f8fafc;
  --ship-cove-100: #d7deec;
  --ship-cove-200: #b5c3db;
  --ship-cove-300: #93a8cb;
  --ship-cove-400: #728bb5;
  --ship-cove-500: #64799e;
  --ship-cove-600: #556887;
  --ship-cove-700: #475670;
  --ship-cove-800: #384559;
  --ship-cove-900: #2a3343;
  --ship-cove-950: #1c222c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  --color-blue-50: var(--ship-cove-50);
  --color-blue-100: var(--ship-cove-100);
  --color-blue-200: var(--ship-cove-200);
  --color-blue-300: var(--ship-cove-300);
  --color-blue-400: var(--ship-cove-400);
  --color-blue-500: var(--ship-cove-500);
  --color-blue-600: var(--ship-cove-600);
  --color-blue-700: var(--ship-cove-700);
  --color-blue-800: var(--ship-cove-800);
  --color-blue-900: var(--ship-cove-900);
  --color-blue-950: var(--ship-cove-950);
}

[data-theme='dark'] {
  --background: #18181b;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition */
}

.btn {
  @apply rounded-lg bg-blue-600 px-5 py-2 text-white hover:bg-blue-700;
}

.max-w-7xl-plus {
  max-width: 1360px;
}
